.container-embed {
  padding-left: 15px;
}

#dashboard_canvas {
  display:block;
  width: 50%
  float:left;
  margin-left: 8%;
}


#comparison_bar {
  display:block;
  width:70%;
  float:top;
  float:left;
  margin-left: 10%;
}
