.container-embed {
  padding-left: 15px;
}

#dashboard_canvas {
  display:block;
  width: 50%
  float:left;
  margin-left: 8%;
}

#myStats_canvas_bar {
  display:block;
  width:50%;
  float:top;
  margin-top: 5%;
  float:left;
  margin-left: -5%;
}

#myStats_canvas_polar {
  display:block;
  width:50%;
  float:left;
  float:top;
  margin-top : -50%;
  margin-left : 48%;
}
#comparison_bar {
  display:block;
  width:70%;
  float:top;
  float:left;
  margin-left: 10%;
}

