#comparison_bar {
  display:block;
  width:70%;
  float:top;
  float:left;
  margin-left: 40%;
  margin-top: -40%;
}

#category_select {
  margin-top: 10%;
}

#socialMedia, #school, #entertainment, #news, #shopping {
  outline: none;
}

.button {
  border-radius: 1px;
  background-color: white;
  color: #636b6f;
  border: 2px solid #636b6f;
  font-size: 20px;
}

.button:hover {
  background-color: #dbdbdb;
}

.btn-active {
  background-color: #c9c9c9;
}

.btn-group-vertical > button{
  margin-bottom:5px;
  border-radius:5px !important;
}
