#unprodText {
  font-weight: bold;
}

#fb {
  color: rgb(59, 89, 152);
}

#cs {
  color: rgb(78, 42, 132);
}

#nf {
  color: rgb(229, 9, 20);
}

.site1:hover{
    color: lightgray;
}
.site1:hover{
    color: lightgray;
}

.site2:hover{
    color: lightgray;
}

.site3:hover{
    color: lightgray;
}
