.red {
  color: red;
}

.green {
  color: #43CD80;
}

.offset {
  margin-top: 7rem;
}

div.img-container {
  width: 250px;
  height: 168px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

img.cropped {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
}

.tooltip-wrap {
  position: relative;
}

.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1em;
}

.tooltip-wrap:hover .tooltip-content {
  display: block;
}

.tooltip-wrap:hover > img.cropped {
  opacity: 1;
}

.tooltip-content > p {
  font-size: 1.8rem;
}
